<?xml version="1.0"?>
<configuration>
  <sitecore>
    <pipelines>
      <publish>
        <processor type="HugeInc.CloudFront.Pipelines.CacheRefresh, HugeInc.CloudFront" />
      </publish>
    </pipelines>
    <HugeInc>
      <CloudFront>
        <Settings>
          <!-- Switch to enable disable Invalidation requests-->
          <EnableModule>false</EnableModule>

          <AWSAccessKey><!-- Your AWS AccessKey --></AWSAccessKey>
          <AWSSecret><!-- Your AWS Secret --></AWSSecret>
          <AWSCDNDistributionId><!-- DistributionID--></AWSCDNDistributionId>
          <!-- Max number of items that can be sent for invalidation at a time. This limit is restricted by CloudFront -->
          <AWSCDNBatchLimit>2000</AWSCDNBatchLimit>
          <!-- Provide one of the Content delivery database name. Useful when mulitple CD databases are involved. -->
          <TargetDatabase>web</TargetDatabase>
        </Settings>
        <ExcludeUrls>
          <Url regex="/sitecore/content/data/*(.*)$"/>
        </ExcludeUrls>
        <ReplaceUrlPaths>
          <Url replace="/sitecore/media-library/" with="/~/media/" />
          <Url replace="/sitecore/content/home/" with="/" />
          <Url replace="/sitecore/content/home" with="/" />
        </ReplaceUrlPaths>
      </CloudFront>
    </HugeInc>
  </sitecore>
</configuration>
